.sign-In-container {
    display: flex;
    flex-direction: column;
    width: 380px;
}
.h2{
    font-size: 38px;
    margin: 10px 0;
}
.buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* Adjust the value as needed */
}
