@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");


  body {
    font-family: 'Roboto Slab', serif;
    font-optical-sizing: auto;
    font-weight: 400;
    background-color: #040a18;


    ;



    ;
   
  }

code {
  font-family: 'Roboto Slab', serif;
  font-weight: 900;
  font-size: 1.5rem;
}


a{
  text-decoration: none;
  color:white;
}

* {
  box-sizing: border-box;
}